@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */


:root {
  --primary: white;
  --secondary: #F2F2F2;
  --accentColor: #D9E6C6;
}

body {
  background-color: rgb(242, 242, 242);
  font-size: 14px !important;
}